import React from "react";
import { type {{pascalCase name}}ViewProps } from './{{name}}.props';

const {{pascalCase name}}View = (props: {{pascalCase name}}ViewProps): React.JSX.Element => {
  return (
    <div>
      <h1>{{name}}</h1>
    </div>
  )
}

export default {{pascalCase name}}View;
